img.packCard {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
	
img.packCard:hover {
	opacity: 0.5;
}

img.cards {
	display:inline-block;
	position:absolute;
}

#card1 {
	top: 0px;
}

#card2 {
	top: 35px;
}

#card3 {
	top: 0px;
}

#card4 {
	top: 35px;
}

div.cmcColumn {
	display: inline-block;
	position: relative;
	width: 255px;
	height: 360px;
}
	
#currentPack {
	margin-bottom: 4px;
	border-bottom: 1px solid;
	border-width: 3px;
}
