* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#currentPack {
	border-bottom: 3px solid black;
}

.packCard {
	width: 255px;
    height: 360px;
	margin: 2px 5px;
}
	
.packCard:hover {
	opacity: 0.5;
}

#userPool {
	margin: 5px auto;
}

.cmcColumn {
	width: 204px;
	vertical-align: top;
	display: inline-block;
	position: relative;
}

.userCard {
	width: 204px;
    height: 288px;
	margin: 0px;
	display: inline;
	position: absolute;
}

#poolDetails {
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
}

#sideboardColumn {
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	margin-bottom: 4px;
	display: none;
}

#canvasContainer {
	display: inline-block;
}