img.packCard {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-right: 5px;
	margin-left: 5px;
}
	
img.packCard:hover {
	opacity: 0.5;
}

img.cards {
	display:inline-block;
	position:absolute;
}

div.cmcColumn {
	display: inline-block;
	position: relative;
	width: 204px;
}
	
#currentPack {
	margin-bottom: 4px;
	border-bottom: 1px solid;
	border-width: 3px;
}

#userPool {
	display: inline-block;
	width: 80%;
	float: left;
	height: 510px;
}

#poolDetails {
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	float: right;
	margin-bottom: 4px;
}

#sideboardColumn {
	border-top: 3px solid;
	border-bottom: 3px solid;
	border-left: 3px solid;
	border-right: 3px solid;
	float: right;
	margin-bottom: 4px;
	width: 350px;
	height: 400px;
}


#canvasContainer {
	display: inline-block;
	float: right;
}

#buttonContainer {
	display: inline-block;
	float: right;	
	margin-bottom: 4px;
}

#sideboardColumn {
	display: none;
}